<h1>GIF-O-MATIC 3000</h1>
<h2 class="messages"></h2>
<form id="new-gif-form">
  <label>Fetch a New Gif:
    <br />
    <input id="new-gif-query" type="text" />
  </label>
    <input type="submit" value="GENERATE GIF" />
</form>
<form id="old-gif-form">
  <label>Get a Saved Gif by Title:
    <br />
    <input id="old-gif-query" type="text" />
  </label>
    <input type="submit" value="RETRIEVE GIF" />
</form>
<form id="callback-hell-form">
  <label>Callback hell:
  <br />
  <input id="callback-hell-query" type="text" />
  </label>
  <input type="submit" value="CALLBACK HELL" />
</form>
<button class="clear">CLEAR GIF</button>
<div class="gif-display">
</div>
<form id="save-gif-form">
  <label>Enter a title to save this gif:
    <br />
    <input id="save-gif-title" type="text" />
  </label>
  <input type="submit" value="SAVE GIF" />
</form>
